.mintSection {
    background-color: black;
    color: white;
    padding: 7rem 4rem 4rem 4rem;
    text-align: justify;
}

.mintRow {
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 5rem;
}

.mintColumn {
    width: 50%;
}

.countDownTimerRow {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 5rem;
    align-items: center;
    align-content: center;
    position: relative;
    border: 1px solid #22B573;
    border-radius: 7px;
    padding: 2rem 4rem;
}

.countDownTimerColumn {
    width: 25%;
}

@media only screen and (max-width: 1200px) {

    .mintSection {
        padding: 10rem 2rem;
    }

    .mintRow {
        flex-direction: column;
        text-align: justify;
    }

    .mintColumn {
        width: 100%;
        margin-top: 2rem;
    }

    .countDownTimerRow {
        display: inline-block;
        max-width: 100%;
        text-align: center;
    }

    .countDownTimerColumn {
        display: inline-block;
        padding: 0 2rem;
    }
}